@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: auto;
}

.btn-primary {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.subtitle {
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.red {
    color: red;
}

.header-contents {
    margin-top: 50px;
    border-radius: 16px;
    background-image: url('../resources/Banner\ Image.png'), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-blend-mode: darken;
    height: 600px;
    margin-bottom: 120px;
}

.header-contents * {
    font-family: Merriweather;
    text-align: center;
    color: white;
}

.header-subcontent {
    padding: 177px 344px;
}

.header-subtitle {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

.header-title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin: auto;
}

/* main section  */
main section {
    margin-bottom: 120px;
}

/* category-section  */
.category-heading {
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.category-section p {
    text-align: center;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.image-container {
    display: flex;
    justify-content: center;
}

/* party-section  */
.party {
    background-image: url('../resources/Vectorrr.png'), linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-blend-mode: overlay;
    background-size: cover;
    height: 600px;
    border-radius: 20px;
}

.party-details {
    padding: 126px 126px;
}

.party-details * {
    margin-bottom: 24px;
}


.party-title {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
}

/* Event Section  */
.event {
    display: flex;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 20px;
}

.event div {
    margin: auto;
}

.event h2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.event * {
    text-align: center;
}

.event-details .event-time {
    margin-bottom: 48px;
}

/* offer section  */
.offer-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.offer-section-container .offer-section-1 p {
    width: 393px;
}


.offer-section-2 img {

    background-color: white;
    width: 364px;
    border-radius: 50%;
}

/* border: 45px solid rgb(255, 255, 255);
}

.offer-section-2 {
    border-radius: 50%;
    border: 15px solid #F00;
} */

.section-3-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.section-3-img {
    width: 140px;
    height: 140px;
}

.offer-section-3 p {
    width: 276px;
}

.offer-section-container h1 {
    margin-bottom: 16px;
}

.offer-section-container h2 {
    margin-bottom: 22px;
}

.offer-section-container p {
    margin-bottom: 43px;
}

/* discount-section */
.discount-section .section-title {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: #070211;
}

.discount-section p {
    text-align: center;
    padding: 0px 126px 0px 126px;
    line-height: 32px;
}

.discount-section .subtitle {
    text-align: center;
    margin-bottom: 16px;
}

.discount-section .section-title {
    margin-bottom: 28px;
}

.portfolio-description p {
    width: 896px;
    line-height: 32px;
}

.portfolio-description .subtitle {
    margin-bottom: 16px;
}

.portfolio-description .title {
    margin-bottom: 22px;
}

.portfolio-images {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-images img {
    width: 30%;
    height: auto;
}
.newsletter-content{
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    height: auto;
}
.newsletter-content .newsletter-icon{
    margin-bottom: 40px;
}
.newsletter-content .title{
    margin-bottom: 22px;
}
.newsletter-content p{
    padding-left: 212px;
    padding-right: 212px;
    margin-bottom: 48px;
}
.newsletter-content .input-field input {
    border-radius: 50px;
    background: #FFF;
    border: none;
}
.newsletter-content{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.input-field{
    width: 100%;
    position: relative;
    margin: auto;
}
.input-field input{
    width: 50%;
    max-width: 648px;;
    height: 72px;
    margin: auto;
}
.input-field button{
    position: absolute;
    right: 25%;
    height: 72px;
    top: 0%;
    border-radius: 0 50px 50px 0;
}